*
!.gitignore
!BoxStarter.ps1
!Documents\WindowsPowerShell\Microsofft.PowerShell_profile.ps1
!Documents\PowerShell\Microsoft.PowerShell_profile.ps1
!AppData\Roaming\Code\User\settings.json
!.mytheme.omp.json
!*.ps1