#!.gitignore
#!BoxStarter.ps1
#!Documents/WindowsPowerShell/Microsofft.PowerShell_profile.ps1
#!Documents/WindowsPowerShell/Microsofft.PowerShell_profile.dark.ps1
#!Documents/WindowsPowerShell/Microsofft.PowerShell_profile.light.ps1
#!Documents/PowerShell/Microsoft.PowerShell_profile.ps1
#!Documents/PowerShell/Microsofft.PowerShell_profile.dark.ps1
#!Documents/PowerShell/Microsofft.PowerShell_profile.light.ps1
#Documents
#!AppData/Roaming/Code/User/settings.json
#!.mytheme.omp.json
#!.mytheme.omp.light.json
#!.mytheme.omp.dark.json
#!*.ps1
